<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <link rel="stylesheet" href="/lib/bootstrap.min.css">
    <script src="/lib/jquery.min.js"></script>
    <script src="/lib/bootstrap.min.js"></script>
    <title>我的博客</title>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" style="height: 35px" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" style="padding-top: 15px">Blog</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/home">我的首页</a>
                </li>
                <li>
                    <a href="/createBlog">创建博客</a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">账号管理
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header">管理</li>
                        <li>
                            <a href="#">博客信息</a>
                        </li>
                        <li>
                            <a href="#">创建博文</a>
                        </li>
                        <li>
                            <a href="#">博客管理</a>
                        </li>
                        <li class="divider"></li>
                        <li class="dropdown-header">账号</li>
                        <li>
                            <a href="#">更改密码</a>
                        </li>
                        <li>
                            <a href="#">退出登录</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/home">登陆</a>
                </li>
                <li>
                    <a href="/createBlog">注册</a>
                </li>
                <li>
                    <a data-toggle="modal" data-target="#myModal"> <span class="badge pull-right"
                                                                         style="background: red">42</span>评论</a>
                </li>
            </ul>
            <form class="navbar-form navbar-right">
                <div class="input-group">
                    <input type="text" class="form-control">
                    <span class="input-group-addon">go!</span>
                </div>
            </form>
        </div>
    </div>

</nav>

<div class="container" style="padding-top: 50px">
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">历史消息(
                        <small>为你保存最多120条消息记录</small>
                        )
                    </h4>
                </div>
                <div class="modal-body">
                    <div id="selectTree" class="ztree" style="height:260px;overflow:auto; ">
                        <div class="alert alert-success">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            还没有收到任何评论呢！<a href="#">(了解如何使用MarkDown书写出层次分明，结构清晰的文章)</a>
                        </div>
                        <div style="text-align: center">
                            <p><span class="badge" style="background: red">未读</span><a href="#">Tyler-Smith</a>在文章 <a
                                    href="#">认识与入门MarkDown</a>中评论了你</p>
                            <p><span class="badge" style="background: red">未读</span><a href="#">Tyler-Smith</a>在文章 <a
                                    href="#">认识与入门MarkDown</a>中评论了你</p>
                            <p><span class="badge" style="background: red">未读</span><a href="#">Tyler-Smith</a>在文章 <a
                                    href="#">认识与入门MarkDown</a>中评论了你</p>
                            <p><span class="badge" style="background: red">未读</span><a href="#">Tyler-Smith</a>在文章 <a
                                    href="#">认识与入门MarkDown</a>中评论了你</p>
                            <p><span class="badge" style="background: red">未读</span><a href="#">Tyler-Smith</a>在文章 <a
                                    href="#">认识与入门MarkDown</a>中评论了你</p>
                            <p><span class="badge" style="background: green">已读</span><a href="#">Tyler-Smith</a>在文章 <a
                                    href="#">认识与入门MarkDown</a>中评论了你</p>
                            <ul class="pagination">
                                <li><a href="#">&laquo;</a></li>
                                <li class="active"><a href="#">1</a></li>
                                <li class="disabled"><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#">&raquo;</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">全部设为已读</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
    <div class="page-header">
        <div class="alert alert-success">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Ha!</strong> 注册成功了,开始创建你的博客吧!
        </div>
    </div>
    <div class="col-sm-10">
        <h2>我的文章</h2><br>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>文章ID</th>
                <th>文章标题</th>
                <th>创建时间</th>
                <th>文章归档</th>
                <th>浏览次数</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td style="padding-top: 15px;">1</td>
                <td style="padding-top: 15px;">标题</td>
                <td style="padding-top: 15px">2015年2月3日</td>
                <td style="padding-top: 15px">JavaWeb</td>
                <td style="padding-top: 15px;padding-left: 15px;">
                    <span class="badge">42</span>
                </td>
                <td>
                    <form action="/" onsubmit="return confirm('确定要删除这篇文章吗？');">
                        <a class="btn btn-primary" href="/blog?id=2">编辑</a>
                        <a class="btn btn-success" href="/blog?id=2">分类</a>
                        <button type="submit" class="btn btn-danger">删除</button>
                    </form>
                </td>
            </tr>
            <tr>
                <td style="padding-top: 15px;">2</td>
                <td style="padding-top: 15px;">标题</td>
                <td style="padding-top: 15px">2015年2月3日</td>
                <td style="padding-top: 15px">Spring-boot</td>
                <td style="padding-top: 15px;padding-left: 15px;">
                    <span class="badge">42</span>
                </td>
                <td>
                    <a class="btn btn-primary" href="#">编辑</a>
                    <a class="btn btn-success" href="/blog?id=2">分类</a>
                    <a type="submit" class="btn btn-danger">删除</a>
                </td>
            </tr>
            <tr>
                <td style="padding-top: 15px;">3</td>
                <td style="padding-top: 15px;">标题</td>
                <td style="padding-top: 15px">2015年2月3日</td>
                <td style="padding-top: 15px">JPA</td>
                <td style="padding-top: 15px;padding-left: 15px;">
                    <span class="badge">42</span>
                </td>
                <td>
                    <a class="btn btn-primary" href="#">编辑</a>
                    <a class="btn btn-success" href="/blog?id=2">分类</a>
                    <a type="submit" class="btn btn-danger">删除</a>
                </td>
            </tr>
            <tr>
                <td style="padding-top: 15px;">3</td>
                <td style="padding-top: 15px;">标题</td>
                <td style="padding-top: 15px">2015年2月3日</td>
                <td style="padding-top: 15px">JPA</td>
                <td style="padding-top: 15px;padding-left: 15px;">
                    <span class="badge">42</span>
                </td>
                <td>
                    <a class="btn btn-primary" href="#">编辑</a>
                    <a class="btn btn-success" href="/blog?id=2">分类</a>
                    <a type="submit" class="btn btn-danger">删除</a>
                </td>
            </tr>
            <tr>
                <td style="padding-top: 15px;">3</td>
                <td style="padding-top: 15px;">标题</td>
                <td style="padding-top: 15px">2015年2月3日</td>
                <td style="padding-top: 15px">JPA</td>
                <td style="padding-top: 15px;padding-left: 15px;">
                    <span class="badge">42</span>
                </td>
                <td>
                    <a class="btn btn-primary" href="#">编辑</a>
                    <a class="btn btn-success" href="/blog?id=2">分类</a>
                    <a type="submit" class="btn btn-danger">删除</a>
                </td>
            </tr>
            </tbody>
        </table>
        <div style="text-align: center">
            <ul class="pagination">
                <li><a href="#">&laquo;</a></li>
                <li class="active"><a href="#">1</a></li>
                <li class="disabled"><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">&raquo;</a></li>
            </ul>
        </div>
    </div>
    <div class="col-sm-2" style="padding-left: 20px;">
        <div>
            <h2 style="padding-left: 20px;">文章分类</h2><br>
            <div style="padding-left: 20px;">
                <img class=" img-rounded img-thumbnail" src="/img/1.png" style="width: 110px;height: 110px">
                <p style="padding-left: 10px;padding-top: 15px;">Tyler-Smith</p>
                <a style="padding-left: 10px;" href="mailto:具体邮箱地址">597021782@qq.com</a>
            </div>
            <div style="padding-top: 10px;">
                <ul>
                    <li><a href="/" style="font-size: 16px;">Java</a></li>
                    <li><a href="/" style="font-size: 16px;">C++</a></li>
                    <li><a href="/" style="font-size: 16px;">Python</a></li>
                    <li><a href="/" style="font-size: 16px;">JavaScript</a></li>
                    <li><a href="/" style="font-size: 16px;">PHP</a></li>
                </ul>
            </div>
        </div>
    </div>

</div>

</body>
</html>