<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">

<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <title>Cum sociis</title>
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/sidbar.css">
    <link rel="stylesheet" href="/css/blog.css">
    <link rel="stylesheet" href="/css/highlight.css">
    <script src="/lib/jquery.min.js"></script>
    <script src='/lib/marked.min.js'></script>
    <script src='/lib/blog.js'></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" style="height: 35px" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                <span class="sr-only" >Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" style="padding-top: 15px">Blog</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/home">我的首页</a>
                </li>
                <li>
                    <a href="/createBlog">创建博客</a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">账号管理
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header">管理</li>
                        <li>
                            <a href="#">博客信息</a>
                        </li>
                        <li>
                            <a href="#">创建博文</a>
                        </li>
                        <li>
                            <a href="#">博客管理</a>
                        </li>
                        <li class="divider"></li>
                        <li class="dropdown-header">账号</li>
                        <li>
                            <a href="#">更改密码</a>
                        </li>
                        <li>
                            <a href="#">退出登录</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-right">
                <div class="input-group">
                    <input type="text" class="form-control">
                    <span class="input-group-addon">go!</span>
                </div>
            </form>
        </div>
    </div>
</nav>

<div class="container">

    <div class="row">

        <div class="col-sm-8 blog-item">
            <div class="page-header">
                <p class="blog-post-meta" th:text="创建于+ ${#dates.format(blog.date, 'yyyy-MM-dd HH:mm:ss')}"></p>
                <a>标签: </a><span class="label label-primary tag" href="\">MarkDown</span>
            </div>
            <div class="post-content">
                <h1 id="title" th:text="${blog.title}"></h1>
                <h4 th:text="${blog.description}"></h4>
                <br>
                <hr/>
                <div id="content"></div>
            </div>
            <nav>
                <ul class="pager">
                    <script>
                        function getQueryString(name) {
                            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
                            var r = window.location.search.substr(1).match(reg);
                            if (r != null) return unescape(r[2]); return null;
                        }
                        $.ajax({
                            type: "POST",
                            url: "/getContent",
                            dataType: "json",
                            data: "id="+getQueryString('id'),
                            success: function (data) {
                                $('#content').html(marked(data['content']));
                            },
                            error: function () {
                                alert('error');
                            }
                        });
                    </script>
                    <li class="previous"><a href="#"><span aria-hidden="true">&larr;</span> 上一篇</a></li>
                    <li class="next"><a href="#">下一篇 <span aria-hidden="true">&rarr;</span></a></li>
                </ul>
            </nav>

            <form class="comment-list" method="post">
                <h4 class="page-header">文章评论</h4>
                <div class="create-comment clearfix">
          <textarea id="comment" name="content" rows="3"
                    class="form-control" placeholder="添加新评论"></textarea>
                    <button type="submit" class="btn btn-success btn-sm btn-publish pull-right">添加评论</button>
                </div>
                <ul class="list-unstyled">
                    <li class="clearfix">
                        <img src="/img/catty.jpeg" alt="" class="avatar pull-left">
                        <p class="content">
                            <a href="#">Harttle,</a>
                            <span class="text-muted date"> 2 mins ago</span>
                            Risus. Suspendisse faucibus orci et nunc. Nullam vehicula fermentum risus. Fusce felis nibh,
                            dignissim
                            vulputate, ultrices.
                        </p>
                    </li>
                    <li class="clearfix">
                        <img src="/img/catty.jpeg" alt="" class="avatar pull-left">
                        <p class="content">
                            <a href="#">David</a>
                            <span class="text-muted date">, yesterday</span>
                            Risus. Suspendisse faucibus orci et nunc. Nullam vehicula fermentum risus. Fusce felis nibh,
                            dignissim
                            vulputate, ultrices.</p>
                    </li>
                </ul>
            </form>

        </div>


        <div class="col-sm-3 col-sm-offset-1">
            <div class="sidebar-module sidebar-module-inset">
                <div class="avatar">
                    <img class="img-circle img-rounded img-thumbnail avatar" src="/img/catty.jpeg">
                    <div>
                        <h4 th:text="${blog.user.name}"></h4>
                        <a th:text="${blog.user.email}"></a>
                    </div>
                </div>
                <p>他很懒，还没来得及写自我介绍</p>
            </div>
            <div class="sidebar-module">
                <h4>归档</h4>
                <ol class="list-unstyled">
                    <li><a href="#">2015年03月</a></li>
                    <li><a href="#">2015年02月</a></li>
                    <li><a href="#">2015年01月</a></li>
                    <li><a href="#">2014年12月</a></li>
                    <li><a href="#">2014年11月</a></li>
                    <li><a href="#">2014年10月</a></li>
                    <li><a href="#">2014年09月</a></li>
                    <li><a href="#">2014年08月</a></li>
                    <li><a href="#">2014年07月</a></li>
                </ol>
            </div>
        </div>

    </div>

</div>

<footer>
    &copy; 2014 SomeCompany, Org &middot; <a href="#">隐私</a> &middot; <a href="#">条款</a>
</footer>

</body>
</html>